* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: #725c5c;
}

b {
  font-weight: bolder;
}

.main-container {
  display: flex;
  width: 100%;
}

.right-container {
 width: 100%;
}

.nav-container {
  height: 100%;
  box-shadow: 1px 1px 5px #d3d3d3;
}
.LOGO {
  display: grid;
  align-items: center;
  width: 100%;
  height: 68px;
  background: linear-gradient(170deg, #ffb354, #ee7a3a);
}

.LOGO p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav-list {
  list-style: none;
  text-align: left;
}

.nav-list li{
  font-family: 'Quicksand';

}

.menu-option {
  cursor: pointer;
  padding: 7px 0 7px 24px;
  border-bottom: 1px solid #d3d3d3;
}

.header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 32px;
  height: 68px;  
  background-color: #fdf1eb;
  justify-content: start;
  align-items: center;
}

.title-box {
  padding: 2px;
}

.content {
  font-size: 22px;
  margin: 1px 0;
}

.language-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 4px;
  margin-left: 110px;  
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.login-box {
  margin-left: auto;
  text-align: end;
  display: flex;
  align-items: center;
}

.login-box p{
  font-family: 'quicksand';
}

.email {
  font-size: 12px;
}


.photo-box {
  display: grid;
  justify-items: end;
}

.user-photo { 
  padding-left: 5px;
  border-radius: 50%;
}

.notification {
  position: absolute;
  padding: 2px 3px;
  border-radius: 50%;
  font-size: 8px;
  color: #fff;
  background-color: #F85959;
}

.content-container {
  display: grid;
  grid-template-columns: 783px auto;
  padding: 20px 32px 0 32px;
  column-gap: 30px;
}

.content-box-left{
  width: 100%;
}

.content-box-left h1 {
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 900;
  color: #ED7839;
}

.video-box {  
  width: 783px;
  height: 439px;
  background: url("assets/dewey 1.svg") no-repeat center;
  background-size: cover;
}

.bg-video{
  position: absolute;
  width: 783px;
  height: 439px;
  background: linear-gradient(170deg, #a85f05 200%,  #b34505 50%);
  opacity: .3;
  z-index: 1;
}

.video-box-content {
  background-image: linear-gradient(to bottom, rgba(141, 53, 6, 0.5), rgba(141, 53, 6, 0.5)), url('assets/dewey 1.svg');
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 30px;
  width: 783px;
  height: 439px;
}

.video-main-title {
  font-weight: 900;
  color: #fff;
  font-size: 24px;
}

.photo-container {
  display: grid;
  grid-template-columns: 75px auto;
  column-gap: 15px;
  align-items: center;
}

.photo-title {
  font-weight: 900;
  font-size: 34px;
  color: #fff;
}

.photo-subtitle{
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}

.button-box {
  display: grid;
  grid-template-columns: 120px 43px 43px;
  grid-template-rows: 31px;
  justify-content: end;
  column-gap: 5px;
}

.download-btn{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: center;
  background-color: #ED7839;
  border-radius: 4px;
}

.download-btn p{
  color: #fff;
}

.fav-btn {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ED7839;
  border-radius: 4px;
}

.doi-btn {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #ED7839;
  border-radius: 4px;
}

.answer-box {
  margin: 12px 0;
  font-size: 16px;
  color: #ED7839;
  text-align: end;
}

.video-details {
  width: 242px;
  height: 439px;
  margin-left: auto;
  border: 1px solid #ECECEC;
  border-radius: 4px;
}

.details-title{
  height: 45px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #FDF1EB;
}

.details-title p{
  padding: 10px 15px;
  font-size: 20px;
  color: #4E4E4E;
}

.side-text-video{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phrase-opacity{
  color: #a1a1a1;
}

.phrase-box {
  height: 364px;
  padding: 15px;
}

.phrase-box p {
  padding: 3px 0;
  font-family: 'Quicksand';
}

.resume-box {
  margin-top: 30px;
  width: 1058px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
}

.resume-title {
  height: 45px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #FDF1EB;
}

.resume-title p {
  padding: 10px 15px;
  font-size: 20px;
}

.resume-text {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Quicksand';
}

.resume-text-complete{
  height: 485px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.resume-text-complete > * {
  font-family: 'Quicksand';
}

.read-more {
  margin: 5px;
  background:none;
  color: #ED7839;
  border: none;
  cursor: pointer;
}

.talk-box {
  margin-top: 30px;
  width: 1058px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
}

.talk-title {
  height: 45px;
  border: 1px solid #ECECEC;
  border-radius: 4px;
  background-color: #FDF1EB;
}

.talk-title p{
  padding: 10px 15px;
  font-size: 20px;
}

.topic-box{
  display: grid;
  text-align: center;
  justify-items: center;
  justify-content: center;
  padding: 15px;
}

.add-topic-box{
  width: 100%;
  height: 32px;
  margin: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #E7E7E7;
}

.topic-btn{
  position: absolute;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FEB254 0%, #F0813D 100% );
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-label{
  margin-left: 6px;
  color: #fff;
}

.submit-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}


.subject-box{
  text-align: start;
  padding: 20px 0;

}

.subject-title{
  font-size: 16px;
  font-weight: 700;
  color: #ED7839;
}

.subject-area{
  width: 100%;
  height: 40px;
  padding-left: 20px;
}

.submit-content-box{
  text-align: start;
}

.submit-content-title{
  font-size: 16px;
  font-weight: 700;
  color: #ED7839;
}

.content-complement{
  height: 32px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #CCCCCC;
  background-color: #EAF1F2;
  border-radius:  0 0 4px 4px;
}

.content-area{
  width: 100%;
  height: 80px;
  padding: 8px 20px;
  resize: none;
  vertical-align:text-top;
}

.text-style{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,auto);
  text-align:center;
}

.bold-style {
  width: 30px;
  height: 100%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.bold-style:hover{
  background-color: #a5a6a7;
}

.italic-style {
  width: 30px;
  height: 100%;
  font-size: 12px;
  border: none;
  font-weight: bold;
  font-style: italic;
  font-family: serif;
  cursor: pointer;
}

.italic-style:hover{
  background-color: #a5a6a7;
}

.submit-button{
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  font-weight: 700;
  color: #fff;
  border: none;
  cursor: pointer;
}

.send-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-title{
  margin: 15px;
  font-size: 16px;
  font-weight: 700;
  color:#ED7839;
}

.send-link{
  margin: 30px;
  width: auto;
  font-weight: 500;
  color: #ED7839;
  cursor: pointer;
}

.send-link:hover{
  text-decoration: underline;
}

.send-btn-box{
  width: 100%;
  height: 32px;
  margin: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.send-btn{
  position: absolute;
  padding: 10px 50px;
  background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.topic-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-title {
  font-size: 18px;
  font-weight: 700px;
  color: #ED7839;
}

.topic-img {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  justify-content: center;
  column-gap: 50px;
}

.topic-more {
  width: 626px;
  font-family: 'Quicksand';
}

.email-box {
  margin-top: 15px;
  
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: start;
  text-align: start;
  box-shadow: 1px 1px 5px #d3d3d3;
}

.email-container{
  padding: 20px;
}

.email-title {
  font-size: 16px;
  font-weight: 700;
  color: #ED7839;
}

.email-author {
  margin: 2px 0;
  font-size: 12px;
  font-weight: 500;
}

.email-question {
  margin: 10px 0;
  font-family: 'Quicksand';
}

.social-box {
  margin-top: 30px;
  display: flex;
  column-gap: 10px;
}

.img-box {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 30px;
  height: 20px;
  background:#ED7839;
}

.response-box{
  padding: 20px;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
}

#res-author{
  background-color: #fff;
}

.email-response{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.response-phrase{
  font-family: 'Quicksand';
}


.response-author{
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
  align-items: center;
}

.author-name{
  font-size: 12px;
  font-weight: 700;
}

.author{
  font-weight: 700;
  color: #ED7839;
}

.footer-box{
  padding: 50px 15px 0 15px;
}

.current-page {
  background-color: #FDF1EB;
}

.current-page::before {
  content: '';
  position: absolute;
  left: 0;
  margin-top: -7px;
  width: 5px;
  height: 31px;
  background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0%{opacity: 0;}
  100%{opacity: 1;}
}


.fade-in {
  animation: fadeIn 1.5s;
  
}

@keyframes blurPage {
  to{
    filter: blur(5px);
  }
  from{
    filter: blur(5px);
  }
}

.blur-page{
  animation: blurPage 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 992px) {
  .header-container{
    display: flex;
    gap: 25px;
  }
  .right-container{
    width: 788px;
  }
  .header-container{
    display: grid;
    height: 138px;
    grid-template-columns: 300px 150px 200px;
  }
  .language-container{
    margin: 0;
  }
  .content-container{
    grid-template-columns: 438px 270px;
   
  }
  .video-box-content{
    width: 438px;
  }
  .resume-box{
    width: 708px;
  }
  .talk-box{
    width: 708px;
  }
  .footer-box img{
    width: 772px;
  }
}

@media screen and (max-width: 768px) {
  .left-container{
    width: 200px;
  }
  
  .right-container{
    width: 584px;
  }

  .header-container{
    height: 80px;
    grid-template-columns: 200px 108px 220px;
    gap: 0;
  }


  .nav-container img{
    width: 200px;
  }

  .title-box h1{
    font-size: 10px;
  }
  .content{
    font-size: 12px;
    font-weight: 900;
  }

  .content-container{
    
    grid-template-columns: 276px 260px;
    column-gap: 0;
  }

  .video-box-content{
    width: 276px;
  }

  .video-main-title{
    font-size: 20px;
  }

  .photo-title{
    font-size: 20px;
  }

  .photo-subtitle{
    font-size: 20px;
  }

  .resume-box{
    width: 536px;
  }
  .talk-box{
    width: 536px;
  }
  .footer-box img{
    width: 568px;
  }
  .topic-more{
    width: 400px;
  }

  .resume-text-complete p{
    font-size: 10px;
  }
  .resume-text {
    font-size: 10px;

  }
}