* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  font-size: 14px;
  font-weight: 400;
  color: #725c5c;
}
.mainContainer {
  display: flex;
  grid-template-columns: 220px 1146px;
}


.navContainer {
  height: 100%;
  box-shadow: 1px 1px 5px #d3d3d3;
}
.LOGO {
  display: grid;
  align-items: center;
  width: 100%;
  height: 68px;
  background: linear-gradient(170deg, #ffb354, #ee7a3a);
}
.LOGO p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.navList {
  list-style: none;
  text-align: left;
  font-size: 15px;
}
.navList ul {
  padding: 7px 0 7px 24px;
  border-bottom: 1px solid #d3d3d3;
}

.navList ul:checked + ul {
  background: #000;
}

.headerContainer {
  display: flex;
  height: 68px;
  width: 1146px;
  background-color: #fdf1eb;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  align-items: center;
}
.titleBox {
  margin-left: 36px;
}
.titleBox h1 {
  padding-top: 2px;
}
.titleBox p {
  font-size: 22px;
  padding: 1px 0;
}

.languageBox {
  margin-left: 110px;
  margin-right: 22px;
  padding: 8px 9px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
.languageContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 3px;
}

.loginBox {
  text-align: end;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
}

.loginBox .email {
  font-size: 12px;
}
.loginBox img {
  margin-left: 5px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.contentContainer {
  margin-left: 36px;
}

.contentBoxLeft {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 783px;
  grid-template-rows: repeat(2, auto);
}

.contentBoxLeft h1 {
  font-size: 20px;
  font-weight: 900;
  color: #ED7839;
}
.contentBoxLeft .teste{
  position: absolute;
  width: 783px;
  height: 439px;
  background:  linear-gradient(170deg, #ad6813 200%,  #96481c 50%  );
   opacity: .3;
  
  
}